body {
  background-color: #e0e0e0;
}
.Hero-Section,
.about-section,
.skill,
.project,
.education,
.experience,
header,
footer {
  background-color: #ffffff;
}
header {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
}
.Nevigation-action {
  color: #1e90ff;
}
.Hero-Section {
  color: #333333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}
.about-section,.skill,.project,.education,.experience {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);
}
.title,
.heading {
  color: #1e90ff;
}
.informatio-about {
  color: #333333;
}
.About-image {
  box-shadow: 10px 10px 10px #cccccc;
}
.Skill-language {
  background-color: #20b2aa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.project-box {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
.collage,
.jrcollage,
.highschool {
  background-color: #f0f0f0;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.8);
}
footer {
  background-color: #111111;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.5);
}
.contact-through {
  color: #ffffff;
}
.Skill-language-image {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}
.collage-training,
.online-training,
.self-work {
  background-color: #f0f0f0;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.8);
}
@media(max-width:1100px){
  .Nevigation-panal{
    background-color: rgba(255, 255, 255, 0.76);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  }
  .hamburger{
    color: #000000;
  }
}